CodeTechnologiesMVCADO/Service References/CodeTechWCF/CodeTechnologiesServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAcademyModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcademyModel" nillable="true" type="tns:AcademyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcademyModel" nillable="true" type="tns:ArrayOfAcademyModel" />
  <xs:complexType name="AcademyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcademyModel" nillable="true" type="tns:AcademyModel" />
</xs:schema>