CodeTechnologiesMVCADO/Service References/CodeTechWCF/CodeTechnologiesServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAcademyModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcademyModel" nillable="true" type="tns:AcademyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcademyModel" nillable="true" type="tns:ArrayOfAcademyModel" />
  <xs:complexType name="AcademyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcademyModel" nillable="true" type="tns:AcademyModel" />
  <xs:complexType name="ArrayOfPrometricCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrometricCandidate" nillable="true" type="tns:PrometricCandidate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrometricCandidate" nillable="true" type="tns:ArrayOfPrometricCandidate" />
  <xs:complexType name="PrometricCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamNature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CandidateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attempts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:long" />
      <xs:element minOccurs="0" name="InstituteId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Abroad" type="xs:boolean" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrometricCandidate" nillable="true" type="tns:PrometricCandidate" />
  <xs:complexType name="ArrayOfPrometric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prometric" nillable="true" type="tns:Prometric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrometric" nillable="true" type="tns:ArrayOfPrometric" />
  <xs:complexType name="Prometric">
    <xs:sequence>
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCPhone" type="xs:int" />
      <xs:element minOccurs="0" name="POCEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHired" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PerExamProfit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCAAdminId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteOwnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prometric" nillable="true" type="tns:Prometric" />
</xs:schema>