CodeTechnologiesMVCADO/Service References/CodeTechWCF/CodeTechnologiesServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeTechnologiesServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" />
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" />
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamNature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamNature" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamNature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamNatureResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamTypes" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamCodes" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllAcademies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcademies" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllAcademies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcademiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AdddAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:AdddAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AdddAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdddAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:getAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometricCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometricCandidates" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometricCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometricCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_BulkUploadPrometricCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:BulkUploadPrometricCandidates" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_BulkUploadPrometricCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:BulkUploadPrometricCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometricCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometricCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometricCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometricCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometricCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometricCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometricCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometricCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometricCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometricCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometricCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometricCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometricCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometricCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometrics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometrics" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometricsResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometricResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometricResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometricResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAllPrometricPromotions_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPrometricPromotions" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAllPrometricPromotions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPrometricPromotionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometricPromotionWithSiteId_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricPromotionWithSiteId" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometricPromotionWithSiteId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricPromotionWithSiteIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometricPromotion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometricPromotion" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometricPromotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometricPromotionResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometricPromotion_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricPromotion" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometricPromotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricPromotionResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometricPromotion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometricPromotion" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometricPromotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometricPromotionResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometricPromotion_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometricPromotion" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometricPromotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometricPromotionResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllInstitutes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInstitutes" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllInstitutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInstitutesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddInstitute_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInstitute" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddInstitute_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInstituteResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getInstitute_InputMessage">
    <wsdl:part name="parameters" element="tns:getInstitute" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getInstitute_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInstituteResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateInstitute_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstitute" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateInstitute_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstituteResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteInstitute_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstitute" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteInstitute_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstituteResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAllExpenses_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllExpenses" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAllExpenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllExpensesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:getExpense" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpense" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpense" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpense" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPearsonCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPearsonCandidates" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPearsonCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPearsonCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_BulkUploadPearsonCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:BulkUploadPearsonCandidates" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_BulkUploadPearsonCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:BulkUploadPearsonCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPearsonCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPearsonCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPearsonCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPearsonCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPearsonCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:getPearsonCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPearsonCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPearsonCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePearsonCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePearsonCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePearsonCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePearsonCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePearsonCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePearsonCandidate" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePearsonCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePearsonCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllSellingPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSellingPrices" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllSellingPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSellingPricesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddNewPricing_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPricing" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddNewPricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPricingResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetPricing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPricing" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetPricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPricingResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePricing_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricing" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricingResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePricing_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePricing" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePricingResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeTechnologiesServices">
    <wsdl:operation name="GetAllExamNature">
      <wsdl:input wsaw:Action="http://tempuri.org/IExams/GetAllExamNature" message="tns:ICodeTechnologiesServices_GetAllExamNature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExams/GetAllExamNatureResponse" message="tns:ICodeTechnologiesServices_GetAllExamNature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExamTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IExams/GetAllExamTypes" message="tns:ICodeTechnologiesServices_GetAllExamTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExams/GetAllExamTypesResponse" message="tns:ICodeTechnologiesServices_GetAllExamTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExamCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IExams/GetAllExamCodes" message="tns:ICodeTechnologiesServices_GetAllExamCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExams/GetAllExamCodesResponse" message="tns:ICodeTechnologiesServices_GetAllExamCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAcademies">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/GetAllAcademies" message="tns:ICodeTechnologiesServices_GetAllAcademies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/GetAllAcademiesResponse" message="tns:ICodeTechnologiesServices_GetAllAcademies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdddAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/AdddAcademy" message="tns:ICodeTechnologiesServices_AdddAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/AdddAcademyResponse" message="tns:ICodeTechnologiesServices_AdddAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/getAcademy" message="tns:ICodeTechnologiesServices_getAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/getAcademyResponse" message="tns:ICodeTechnologiesServices_getAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/UpdateAcademy" message="tns:ICodeTechnologiesServices_UpdateAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/UpdateAcademyResponse" message="tns:ICodeTechnologiesServices_UpdateAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/DeleteAcademy" message="tns:ICodeTechnologiesServices_DeleteAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/DeleteAcademyResponse" message="tns:ICodeTechnologiesServices_DeleteAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometricCandidates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricCandidate/GetAllPrometricCandidates" message="tns:ICodeTechnologiesServices_GetAllPrometricCandidates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricCandidate/GetAllPrometricCandidatesResponse" message="tns:ICodeTechnologiesServices_GetAllPrometricCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BulkUploadPrometricCandidates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricCandidate/BulkUploadPrometricCandidates" message="tns:ICodeTechnologiesServices_BulkUploadPrometricCandidates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricCandidate/BulkUploadPrometricCandidatesResponse" message="tns:ICodeTechnologiesServices_BulkUploadPrometricCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrometricCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricCandidate/AddPrometricCandidate" message="tns:ICodeTechnologiesServices_AddPrometricCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricCandidate/AddPrometricCandidateResponse" message="tns:ICodeTechnologiesServices_AddPrometricCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrometricCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricCandidate/getPrometricCandidate" message="tns:ICodeTechnologiesServices_getPrometricCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricCandidate/getPrometricCandidateResponse" message="tns:ICodeTechnologiesServices_getPrometricCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometricCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricCandidate/UpdatePrometricCandidate" message="tns:ICodeTechnologiesServices_UpdatePrometricCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricCandidate/UpdatePrometricCandidateResponse" message="tns:ICodeTechnologiesServices_UpdatePrometricCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrometricCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricCandidate/DeletePrometricCandidate" message="tns:ICodeTechnologiesServices_DeletePrometricCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricCandidate/DeletePrometricCandidateResponse" message="tns:ICodeTechnologiesServices_DeletePrometricCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometrics">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/GetAllPrometrics" message="tns:ICodeTechnologiesServices_GetAllPrometrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/GetAllPrometricsResponse" message="tns:ICodeTechnologiesServices_GetAllPrometrics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/AddPrometric" message="tns:ICodeTechnologiesServices_AddPrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/AddPrometricResponse" message="tns:ICodeTechnologiesServices_AddPrometric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/getPrometric" message="tns:ICodeTechnologiesServices_getPrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/getPrometricResponse" message="tns:ICodeTechnologiesServices_getPrometric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/UpdatePrometric" message="tns:ICodeTechnologiesServices_UpdatePrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/UpdatePrometricResponse" message="tns:ICodeTechnologiesServices_UpdatePrometric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/DeletePrometric" message="tns:ICodeTechnologiesServices_DeletePrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/DeletePrometricResponse" message="tns:ICodeTechnologiesServices_DeletePrometric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPrometricPromotions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricPromotions/getAllPrometricPromotions" message="tns:ICodeTechnologiesServices_getAllPrometricPromotions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricPromotions/getAllPrometricPromotionsResponse" message="tns:ICodeTechnologiesServices_getAllPrometricPromotions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrometricPromotionWithSiteId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricPromotions/getPrometricPromotionWithSiteId" message="tns:ICodeTechnologiesServices_getPrometricPromotionWithSiteId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricPromotions/getPrometricPromotionWithSiteIdResponse" message="tns:ICodeTechnologiesServices_getPrometricPromotionWithSiteId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrometricPromotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricPromotions/AddPrometricPromotion" message="tns:ICodeTechnologiesServices_AddPrometricPromotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricPromotions/AddPrometricPromotionResponse" message="tns:ICodeTechnologiesServices_AddPrometricPromotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrometricPromotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricPromotions/getPrometricPromotion" message="tns:ICodeTechnologiesServices_getPrometricPromotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricPromotions/getPrometricPromotionResponse" message="tns:ICodeTechnologiesServices_getPrometricPromotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometricPromotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricPromotions/UpdatePrometricPromotion" message="tns:ICodeTechnologiesServices_UpdatePrometricPromotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricPromotions/UpdatePrometricPromotionResponse" message="tns:ICodeTechnologiesServices_UpdatePrometricPromotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrometricPromotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricPromotions/DeletePrometricPromotion" message="tns:ICodeTechnologiesServices_DeletePrometricPromotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricPromotions/DeletePrometricPromotionResponse" message="tns:ICodeTechnologiesServices_DeletePrometricPromotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInstitutes">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitute/GetAllInstitutes" message="tns:ICodeTechnologiesServices_GetAllInstitutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitute/GetAllInstitutesResponse" message="tns:ICodeTechnologiesServices_GetAllInstitutes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInstitute">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitute/AddInstitute" message="tns:ICodeTechnologiesServices_AddInstitute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitute/AddInstituteResponse" message="tns:ICodeTechnologiesServices_AddInstitute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInstitute">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitute/getInstitute" message="tns:ICodeTechnologiesServices_getInstitute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitute/getInstituteResponse" message="tns:ICodeTechnologiesServices_getInstitute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInstitute">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitute/UpdateInstitute" message="tns:ICodeTechnologiesServices_UpdateInstitute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitute/UpdateInstituteResponse" message="tns:ICodeTechnologiesServices_UpdateInstitute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInstitute">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitute/DeleteInstitute" message="tns:ICodeTechnologiesServices_DeleteInstitute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitute/DeleteInstituteResponse" message="tns:ICodeTechnologiesServices_DeleteInstitute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllExpenses">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpense/getAllExpenses" message="tns:ICodeTechnologiesServices_getAllExpenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpense/getAllExpensesResponse" message="tns:ICodeTechnologiesServices_getAllExpenses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpense/getExpense" message="tns:ICodeTechnologiesServices_getExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpense/getExpenseResponse" message="tns:ICodeTechnologiesServices_getExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpense/AddExpense" message="tns:ICodeTechnologiesServices_AddExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpense/AddExpenseResponse" message="tns:ICodeTechnologiesServices_AddExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpense/UpdateExpense" message="tns:ICodeTechnologiesServices_UpdateExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpense/UpdateExpenseResponse" message="tns:ICodeTechnologiesServices_UpdateExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpense/DeleteExpense" message="tns:ICodeTechnologiesServices_DeleteExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpense/DeleteExpenseResponse" message="tns:ICodeTechnologiesServices_DeleteExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPearsonCandidates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPearsonCandidate/GetAllPearsonCandidates" message="tns:ICodeTechnologiesServices_GetAllPearsonCandidates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPearsonCandidate/GetAllPearsonCandidatesResponse" message="tns:ICodeTechnologiesServices_GetAllPearsonCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BulkUploadPearsonCandidates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPearsonCandidate/BulkUploadPearsonCandidates" message="tns:ICodeTechnologiesServices_BulkUploadPearsonCandidates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPearsonCandidate/BulkUploadPearsonCandidatesResponse" message="tns:ICodeTechnologiesServices_BulkUploadPearsonCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPearsonCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPearsonCandidate/AddPearsonCandidate" message="tns:ICodeTechnologiesServices_AddPearsonCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPearsonCandidate/AddPearsonCandidateResponse" message="tns:ICodeTechnologiesServices_AddPearsonCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPearsonCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPearsonCandidate/getPearsonCandidate" message="tns:ICodeTechnologiesServices_getPearsonCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPearsonCandidate/getPearsonCandidateResponse" message="tns:ICodeTechnologiesServices_getPearsonCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePearsonCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPearsonCandidate/UpdatePearsonCandidate" message="tns:ICodeTechnologiesServices_UpdatePearsonCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPearsonCandidate/UpdatePearsonCandidateResponse" message="tns:ICodeTechnologiesServices_UpdatePearsonCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePearsonCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPearsonCandidate/DeletePearsonCandidate" message="tns:ICodeTechnologiesServices_DeletePearsonCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPearsonCandidate/DeletePearsonCandidateResponse" message="tns:ICodeTechnologiesServices_DeletePearsonCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSellingPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellingPricing/GetAllSellingPrices" message="tns:ICodeTechnologiesServices_GetAllSellingPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellingPricing/GetAllSellingPricesResponse" message="tns:ICodeTechnologiesServices_GetAllSellingPrices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPricing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellingPricing/AddNewPricing" message="tns:ICodeTechnologiesServices_AddNewPricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellingPricing/AddNewPricingResponse" message="tns:ICodeTechnologiesServices_AddNewPricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPricing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellingPricing/GetPricing" message="tns:ICodeTechnologiesServices_GetPricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellingPricing/GetPricingResponse" message="tns:ICodeTechnologiesServices_GetPricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePricing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellingPricing/UpdatePricing" message="tns:ICodeTechnologiesServices_UpdatePricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellingPricing/UpdatePricingResponse" message="tns:ICodeTechnologiesServices_UpdatePricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePricing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellingPricing/DeletePricing" message="tns:ICodeTechnologiesServices_DeletePricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellingPricing/DeletePricingResponse" message="tns:ICodeTechnologiesServices_DeletePricing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeTechnologiesServices" type="tns:ICodeTechnologiesServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllExamNature">
      <soap:operation soapAction="http://tempuri.org/IExams/GetAllExamNature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExamTypes">
      <soap:operation soapAction="http://tempuri.org/IExams/GetAllExamTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExamCodes">
      <soap:operation soapAction="http://tempuri.org/IExams/GetAllExamCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAcademies">
      <soap:operation soapAction="http://tempuri.org/IAcademy/GetAllAcademies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdddAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/AdddAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/getAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/UpdateAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/DeleteAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometricCandidates">
      <soap:operation soapAction="http://tempuri.org/IPrometricCandidate/GetAllPrometricCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkUploadPrometricCandidates">
      <soap:operation soapAction="http://tempuri.org/IPrometricCandidate/BulkUploadPrometricCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrometricCandidate">
      <soap:operation soapAction="http://tempuri.org/IPrometricCandidate/AddPrometricCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrometricCandidate">
      <soap:operation soapAction="http://tempuri.org/IPrometricCandidate/getPrometricCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometricCandidate">
      <soap:operation soapAction="http://tempuri.org/IPrometricCandidate/UpdatePrometricCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrometricCandidate">
      <soap:operation soapAction="http://tempuri.org/IPrometricCandidate/DeletePrometricCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometrics">
      <soap:operation soapAction="http://tempuri.org/IPrometric/GetAllPrometrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/AddPrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/getPrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/UpdatePrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/DeletePrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPrometricPromotions">
      <soap:operation soapAction="http://tempuri.org/IPrometricPromotions/getAllPrometricPromotions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrometricPromotionWithSiteId">
      <soap:operation soapAction="http://tempuri.org/IPrometricPromotions/getPrometricPromotionWithSiteId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrometricPromotion">
      <soap:operation soapAction="http://tempuri.org/IPrometricPromotions/AddPrometricPromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrometricPromotion">
      <soap:operation soapAction="http://tempuri.org/IPrometricPromotions/getPrometricPromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometricPromotion">
      <soap:operation soapAction="http://tempuri.org/IPrometricPromotions/UpdatePrometricPromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrometricPromotion">
      <soap:operation soapAction="http://tempuri.org/IPrometricPromotions/DeletePrometricPromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInstitutes">
      <soap:operation soapAction="http://tempuri.org/IInstitute/GetAllInstitutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInstitute">
      <soap:operation soapAction="http://tempuri.org/IInstitute/AddInstitute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInstitute">
      <soap:operation soapAction="http://tempuri.org/IInstitute/getInstitute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInstitute">
      <soap:operation soapAction="http://tempuri.org/IInstitute/UpdateInstitute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInstitute">
      <soap:operation soapAction="http://tempuri.org/IInstitute/DeleteInstitute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllExpenses">
      <soap:operation soapAction="http://tempuri.org/IExpense/getAllExpenses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExpense">
      <soap:operation soapAction="http://tempuri.org/IExpense/getExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpense">
      <soap:operation soapAction="http://tempuri.org/IExpense/AddExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExpense">
      <soap:operation soapAction="http://tempuri.org/IExpense/UpdateExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExpense">
      <soap:operation soapAction="http://tempuri.org/IExpense/DeleteExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPearsonCandidates">
      <soap:operation soapAction="http://tempuri.org/IPearsonCandidate/GetAllPearsonCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkUploadPearsonCandidates">
      <soap:operation soapAction="http://tempuri.org/IPearsonCandidate/BulkUploadPearsonCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPearsonCandidate">
      <soap:operation soapAction="http://tempuri.org/IPearsonCandidate/AddPearsonCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPearsonCandidate">
      <soap:operation soapAction="http://tempuri.org/IPearsonCandidate/getPearsonCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePearsonCandidate">
      <soap:operation soapAction="http://tempuri.org/IPearsonCandidate/UpdatePearsonCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePearsonCandidate">
      <soap:operation soapAction="http://tempuri.org/IPearsonCandidate/DeletePearsonCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSellingPrices">
      <soap:operation soapAction="http://tempuri.org/ISellingPricing/GetAllSellingPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPricing">
      <soap:operation soapAction="http://tempuri.org/ISellingPricing/AddNewPricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPricing">
      <soap:operation soapAction="http://tempuri.org/ISellingPricing/GetPricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePricing">
      <soap:operation soapAction="http://tempuri.org/ISellingPricing/UpdatePricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePricing">
      <soap:operation soapAction="http://tempuri.org/ISellingPricing/DeletePricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeTechnologiesServices">
    <wsdl:port name="BasicHttpBinding_ICodeTechnologiesServices" binding="tns:BasicHttpBinding_ICodeTechnologiesServices">
      <soap:address location="http://localhost:53861/CodeTechnologiesServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>