CodeTechnologiesMVCADO/Service References/CodeTechWCF/CodeTechnologiesServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeTechnologiesServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" />
      <xsd:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamNature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamNature" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamNature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamNatureResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamTypes" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamCodes" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllExamCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllAcademies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcademies" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllAcademies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcademiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AdddAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:AdddAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AdddAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdddAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:getAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdateAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteAcademy_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcademy" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeleteAcademy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcademyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometricCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometricCandidates" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometricCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometricCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometrics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometrics" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_GetAllPrometrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrometricsResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_AddPrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrometricResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_getPrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrometricResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_UpdatePrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrometricResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometric_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometric" />
  </wsdl:message>
  <wsdl:message name="ICodeTechnologiesServices_DeletePrometric_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrometricResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeTechnologiesServices">
    <wsdl:operation name="GetAllExamNature">
      <wsdl:input wsaw:Action="http://tempuri.org/IExams/GetAllExamNature" message="tns:ICodeTechnologiesServices_GetAllExamNature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExams/GetAllExamNatureResponse" message="tns:ICodeTechnologiesServices_GetAllExamNature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExamTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IExams/GetAllExamTypes" message="tns:ICodeTechnologiesServices_GetAllExamTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExams/GetAllExamTypesResponse" message="tns:ICodeTechnologiesServices_GetAllExamTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExamCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IExams/GetAllExamCodes" message="tns:ICodeTechnologiesServices_GetAllExamCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExams/GetAllExamCodesResponse" message="tns:ICodeTechnologiesServices_GetAllExamCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAcademies">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/GetAllAcademies" message="tns:ICodeTechnologiesServices_GetAllAcademies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/GetAllAcademiesResponse" message="tns:ICodeTechnologiesServices_GetAllAcademies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdddAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/AdddAcademy" message="tns:ICodeTechnologiesServices_AdddAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/AdddAcademyResponse" message="tns:ICodeTechnologiesServices_AdddAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/getAcademy" message="tns:ICodeTechnologiesServices_getAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/getAcademyResponse" message="tns:ICodeTechnologiesServices_getAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/UpdateAcademy" message="tns:ICodeTechnologiesServices_UpdateAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/UpdateAcademyResponse" message="tns:ICodeTechnologiesServices_UpdateAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAcademy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademy/DeleteAcademy" message="tns:ICodeTechnologiesServices_DeleteAcademy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademy/DeleteAcademyResponse" message="tns:ICodeTechnologiesServices_DeleteAcademy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometricCandidates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometricCandidate/GetAllPrometricCandidates" message="tns:ICodeTechnologiesServices_GetAllPrometricCandidates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometricCandidate/GetAllPrometricCandidatesResponse" message="tns:ICodeTechnologiesServices_GetAllPrometricCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometrics">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/GetAllPrometrics" message="tns:ICodeTechnologiesServices_GetAllPrometrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/GetAllPrometricsResponse" message="tns:ICodeTechnologiesServices_GetAllPrometrics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/AddPrometric" message="tns:ICodeTechnologiesServices_AddPrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/AddPrometricResponse" message="tns:ICodeTechnologiesServices_AddPrometric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/getPrometric" message="tns:ICodeTechnologiesServices_getPrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/getPrometricResponse" message="tns:ICodeTechnologiesServices_getPrometric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/UpdatePrometric" message="tns:ICodeTechnologiesServices_UpdatePrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/UpdatePrometricResponse" message="tns:ICodeTechnologiesServices_UpdatePrometric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrometric">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrometric/DeletePrometric" message="tns:ICodeTechnologiesServices_DeletePrometric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrometric/DeletePrometricResponse" message="tns:ICodeTechnologiesServices_DeletePrometric_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeTechnologiesServices" type="tns:ICodeTechnologiesServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllExamNature">
      <soap:operation soapAction="http://tempuri.org/IExams/GetAllExamNature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExamTypes">
      <soap:operation soapAction="http://tempuri.org/IExams/GetAllExamTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExamCodes">
      <soap:operation soapAction="http://tempuri.org/IExams/GetAllExamCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAcademies">
      <soap:operation soapAction="http://tempuri.org/IAcademy/GetAllAcademies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdddAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/AdddAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/getAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/UpdateAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAcademy">
      <soap:operation soapAction="http://tempuri.org/IAcademy/DeleteAcademy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometricCandidates">
      <soap:operation soapAction="http://tempuri.org/IPrometricCandidate/GetAllPrometricCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrometrics">
      <soap:operation soapAction="http://tempuri.org/IPrometric/GetAllPrometrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/AddPrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/getPrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/UpdatePrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrometric">
      <soap:operation soapAction="http://tempuri.org/IPrometric/DeletePrometric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeTechnologiesServices">
    <wsdl:port name="BasicHttpBinding_ICodeTechnologiesServices" binding="tns:BasicHttpBinding_ICodeTechnologiesServices">
      <soap:address location="http://localhost:53861/CodeTechnologiesServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>