CodeTechnologiesMVCADO/Service References/CodeTechWCF/CodeTechnologiesServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" />
  <xs:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" />
  <xs:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetAllExamNature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamNatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" minOccurs="0" name="GetAllExamNatureResult" nillable="true" type="q1:ArrayOfExamNature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" minOccurs="0" name="GetAllExamTypesResult" nillable="true" type="q2:ArrayOfExamsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" minOccurs="0" name="GetAllExamCodesResult" nillable="true" type="q3:ArrayOfExamCodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAcademies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAcademiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetAllAcademiesResult" nillable="true" type="q4:ArrayOfAcademyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdddAcademy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="academyObj" nillable="true" type="q5:AcademyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdddAcademyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAcademy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAcademyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getAcademyResult" nillable="true" type="q6:AcademyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcademy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="academyObj" nillable="true" type="q7:AcademyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcademyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcademy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcademyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrometricCandidates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrometricCandidatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetAllPrometricCandidatesResult" nillable="true" type="q8:ArrayOfPrometricCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUploadPrometricCandidates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="inputexcel" nillable="true" type="q9:FileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUploadPrometricCandidatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrometricCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pcObj" nillable="true" type="q10:PrometricCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrometricCandidateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometricCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometricCandidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getPrometricCandidateResult" nillable="true" type="q11:PrometricCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrometricCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pcObj" nillable="true" type="q12:PrometricCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrometricCandidateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrometricCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrometricCandidateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrometrics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrometricsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetAllPrometricsResult" nillable="true" type="q13:ArrayOfPrometric" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrometric">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pObj" nillable="true" type="q14:Prometric" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrometricResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getPrometricResult" nillable="true" type="q15:Prometric" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrometric">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pObj" nillable="true" type="q16:Prometric" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrometricResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrometric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrometricResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPrometricPromotions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPrometricPromotionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getAllPrometricPromotionsResult" nillable="true" type="q17:ArrayOfPrometricPromotions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometricPromotionWithSiteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometricPromotionWithSiteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getPrometricPromotionWithSiteIdResult" nillable="true" type="q18:ArrayOfPrometricPromotions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrometricPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="ppObj" nillable="true" type="q19:PrometricPromotions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrometricPromotionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometricPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrometricPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getPrometricPromotionResult" nillable="true" type="q20:PrometricPromotions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrometricPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="ppObj" nillable="true" type="q21:PrometricPromotions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrometricPromotionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrometricPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrometricPromotionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstitutes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstitutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetAllInstitutesResult" nillable="true" type="q22:ArrayOfInstitute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstitute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="instiObj" nillable="true" type="q23:Institute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstituteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstitute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstituteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getInstituteResult" nillable="true" type="q24:Institute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstitute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="instiObj" nillable="true" type="q25:Institute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstituteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstitute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstituteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllExpenses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllExpensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getAllExpensesResult" nillable="true" type="q26:ArrayOfExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getExpenseResult" nillable="true" type="q27:Expense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="expObj" nillable="true" type="q28:Expense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="expObj" nillable="true" type="q29:Expense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPearsonCandidates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPearsonCandidatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetAllPearsonCandidatesResult" nillable="true" type="q30:ArrayOfPearsonCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUploadPearsonCandidates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="inputexcel" nillable="true" type="q31:FileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUploadPearsonCandidatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPearsonCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pcObj" nillable="true" type="q32:PearsonCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPearsonCandidateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPearsonCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPearsonCandidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="getPearsonCandidateResult" nillable="true" type="q33:PearsonCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePearsonCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pcObj" nillable="true" type="q34:PearsonCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePearsonCandidateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePearsonCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePearsonCandidateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSellingPrices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSellingPricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetAllSellingPricesResult" nillable="true" type="q35:ArrayOfSellingPricing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pricing" nillable="true" type="q36:SellingPricing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPricingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetPricingResult" nillable="true" type="q37:SellingPricing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="pricing" nillable="true" type="q38:SellingPricing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePricingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePricingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>