CodeTechnologiesMVCADO/Service References/CodeTechWCF/CodeTechnologiesServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAcademyModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcademyModel" nillable="true" type="tns:AcademyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcademyModel" nillable="true" type="tns:ArrayOfAcademyModel" />
  <xs:complexType name="AcademyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcademyModel" nillable="true" type="tns:AcademyModel" />
  <xs:complexType name="ArrayOfPrometricCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrometricCandidate" nillable="true" type="tns:PrometricCandidate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrometricCandidate" nillable="true" type="tns:ArrayOfPrometricCandidate" />
  <xs:complexType name="PrometricCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamNature" type="xs:int" />
      <xs:element minOccurs="0" name="ExamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CandidateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attempts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:long" />
      <xs:element minOccurs="0" name="InstituteId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Abroad" type="xs:boolean" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrometricCandidate" nillable="true" type="tns:PrometricCandidate" />
  <xs:complexType name="ArrayOfPrometric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prometric" nillable="true" type="tns:Prometric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrometric" nillable="true" type="tns:ArrayOfPrometric" />
  <xs:complexType name="Prometric">
    <xs:sequence>
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCPhone" type="xs:int" />
      <xs:element minOccurs="0" name="POCEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHired" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PerExamProfit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCAAdminId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteOwnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prometric" nillable="true" type="tns:Prometric" />
  <xs:complexType name="ArrayOfPrometricPromotions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrometricPromotions" nillable="true" type="tns:PrometricPromotions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrometricPromotions" nillable="true" type="tns:ArrayOfPrometricPromotions" />
  <xs:complexType name="PrometricPromotions">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MarginGain" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MarginMiss" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrometricPromotions" nillable="true" type="tns:PrometricPromotions" />
  <xs:complexType name="ArrayOfInstitute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Institute" nillable="true" type="tns:Institute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstitute" nillable="true" type="tns:ArrayOfInstitute" />
  <xs:complexType name="Institute">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditAllowed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreditRemaining" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Institute" nillable="true" type="tns:Institute" />
  <xs:complexType name="ArrayOfExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expense" nillable="true" type="tns:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpense" nillable="true" type="tns:ArrayOfExpense" />
  <xs:complexType name="Expense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ExpenseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmountPaid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
  <xs:complexType name="ArrayOfPearsonCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PearsonCandidate" nillable="true" type="tns:PearsonCandidate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPearsonCandidate" nillable="true" type="tns:ArrayOfPearsonCandidate" />
  <xs:complexType name="PearsonCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamNature" type="xs:int" />
      <xs:element minOccurs="0" name="ExamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CiscoClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attempts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamEmailPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="InstituteId" type="xs:int" />
      <xs:element minOccurs="0" name="AcademyId" type="xs:int" />
      <xs:element minOccurs="0" name="ConnectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PearsonCandidate" nillable="true" type="tns:PearsonCandidate" />
</xs:schema>