CodeTechnologiesMVCADO/Service References/CodeTechWCFService/CodeTechnologiesServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" />
  <xs:import schemaLocation="http://localhost:53861/CodeTechnologiesServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" />
  <xs:element name="GetAllExamNature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamNatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" minOccurs="0" name="GetAllExamNatureResult" nillable="true" type="q1:ArrayOfExamNature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" minOccurs="0" name="GetAllExamTypesResult" nillable="true" type="q2:ArrayOfExamsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" minOccurs="0" name="GetAllExamCodesResult" nillable="true" type="q3:ArrayOfExamCodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAcademies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAcademiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1.HelperClass" minOccurs="0" name="GetAllAcademiesResult" nillable="true" type="q4:ArrayOfAcademy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>