CodeTechnologiesMVCADO/Service References/CodeTechWCFService/CodeTechnologiesServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodeTechnologiesWCF.HelperClass.Exams" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExamNature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamNature" nillable="true" type="tns:ExamNature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamNature" nillable="true" type="tns:ArrayOfExamNature" />
  <xs:complexType name="ExamNature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamNature" nillable="true" type="tns:ExamNature" />
  <xs:complexType name="ArrayOfExamsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamsType" nillable="true" type="tns:ExamsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamsType" nillable="true" type="tns:ArrayOfExamsType" />
  <xs:complexType name="ExamsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamsType" nillable="true" type="tns:ExamsType" />
  <xs:complexType name="ArrayOfExamCodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamCodes" nillable="true" type="tns:ExamCodes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamCodes" nillable="true" type="tns:ArrayOfExamCodes" />
  <xs:complexType name="ExamCodes">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamCodes" nillable="true" type="tns:ExamCodes" />
</xs:schema>